*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.big-card {
  height: 70vh;
}

.single-product {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 2em;
  background-color: var(--color-secondary);
  padding: 2em;
}

.single-product-image-section {
  justify-self: center;
}

.single-product-information {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.single-product-title {
  font-size: 2rem;
}

.single-product-description {
  font-size: 1.2rem;
  color: grey;
  letter-spacing: 1.2px;
  line-height: 1.2;
  text-align: justify;
}

.single-product-pricing {
  font-size: 2rem;
  color: var(--color-brand);
}

.single-product-button-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
}

.action {
  align-self: stretch;
  justify-self: stretch;
}

.single-product-btn {
  padding: 1em 1em;

  color: white;
  font-size: 1rem;
  border-style: none;
  margin-right: 10px;
}

.action > form {
  height: 100%;
}

.add {
  background-color: black;
}

.buy {
  background-color: var(--color-brand);
}

.product-quantity {
  text-align: center;
  max-width: 100px;
  padding: 1em;
  font-size: 1.2 rem;
  border-style: none;
}

.quantityOne {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;

  box-sizing: border-box;
}
/* .quantityOutput {
  font-size: 52px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  width: 30%;
  text-align: right;
  margin-left: 50px;
} */

.quantityOutput,
.text {
  font-size: 2rem;
  margin: 6px;
  color: var(--color-brand);
}

.spinNumber {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-right: 20px;
  /* width: 70%; */
}
.spinNumber .incrimentButton,
.spinNumber .decrimentButton {
  width: 50px;
  height: 50px;
  border: 1px solid #c6f5f56b;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  /* margin: 0 15px; */
  line-height: 50px;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
  background-color: black;
}
.spinNumber .incrimentButton:hover,
.spinNumber .decrimentButton:hover {
  background: var(--color-brand);
}
.spinNumber input {
  width: 48px;
  /* height: 48px; */
  border: 1px solid #c6f5f56b;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  line-height: 48px;
  background-color: var(--color-brand);
}
input:focus {
  outline: none;
}
.regularPrice {
  display: none;
}

@media (max-width: 500px) {
  .purchase-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
